<section class="main md-whiteframe-z1" layout="column">
<md-toolbar>
<h2 class="md-toolbar-tools">
    <span>Safe Exam Browser Code</span>
    <span flex></span>
    <a href="#/help" style="float: right;">Help</a>
</h2>
</md-toolbar>
<form class="code-form" layout="column">
    <div class="info-group">
        <label>Code:</label><br />
        <span class="code">{{data.code}}</span>
    </div>
    <md-divider></md-divider>
    <div class="info-group">
        <label>Expires in:</label>
        <div class="timeout">
            <span ng-hide="d.hours<1">{{d.hours}} hour{{d.hS}}</span>
            <span ng-hide="d.hours<1 && d.minutes<1">{{d.minutes}} minute{{d.mS}}</span>
            <span ng-hide="d.hours<1 && d.minutes<1 && d.seconds<1">{{d.seconds}} second{{d.sS}}</span>
            <span ng-show="d.hours<1 && d.minutes<1 && d.seconds<1">Updating...</span>
        </div>
    </div>
    <md-button class="md-raised md-accent" ng-click="logout(false)">Sign Out</md-button>
</form>
<div class="alert" ng-hide="alert.hidden">
    <strong>Oops!</strong> <span>{{alert.message}}</span>
</div>
</section>
