<section class="help md-whiteframe-z5 md-padding">
<h1>Safe Exam Browser Setup</h1>
<p>BISD uses a modified version of the <a href="http://www.safeexambrowser.org/">Safe Exam Browser (SEB)</a> to help students take tests more securely. The application prevents students from exiting the test until the Teacher provides a password. It also blocks the student from using their computer to cheat by not allowing them to take screenshots, use other applications, browse to other websites, and use various other methods.</p>
<p>This method will surely not be foolproof, but is the currently best method to do online testing securely. Follow the steps below to set up Safe Exam Browser for your Moodle course.</p>
<h2>Moodle Setup</h2>
<p>To use the Safe Exam Browser with your Moodle Quizzes, you must first enable it on each Quiz.</p>
<p>First go to your Quiz Settings, and under the "Extra restrictions on attempts" section click the "Show advanced" button in the top right:</p>
<a href="images/screenshot1.png"><img src="images/screenshot1.png" /></a>
<p>Now change "Browser security" to "Require the use of Safe Exam Browser":</p>
<a href="images/screenshot2.png"><img src="images/screenshot2.png" /></a>
<p>The Quiz is now ready. Optionally add a password to the Quiz to restrict students from starting the Quiz early.</p>
<h2>Taking the Quiz</h2>
<p>The Safe Exam Browser has already been deployed to students machines. If a student does not have the Safe Exam Browser installed they should go to the Apple Center to have it installed.</p>
<p>Students should first open the Safe Exam Browser. At this point you must verify that all students have opened the Browser and that the <strong>Titlebar is Red:</strong></p>
<a href="images/screenshot3.png"><img src="images/screenshot3.png" /></a>
<p>If the Titlebar does not turn red, then the student may have downloaded their own version of Safe Exam Browser and could use it to cheat. Note that because of the way the Safe Exam Browser works, you will not be able to monitor their screens with Lanschool.</p>
<p>Once all students Browsers have been verified, you may instruct them to navigate to your Quiz, and optionally give them the password to start the Quiz. Students will not be able to exit the Safe Exam Browser without a password. To prevent students from using passwords in other Quizzes, the password change every 12 minutes. You may view the current password by <a href="#/code">clicking here</a>.</p>
<p>Once all students have completed the Quiz, you may look up the current code and announce it to your students so they may exit the Safe Exam Browser.</p>
<p>If a student has trouble accessing the Quiz, or pages or pictures do not load correctly, quit out of Safe Exam Browser using the password and restart the application. Moodle allows students to resume the Quiz where they left off.</p>
<md-button class="md-raised md-accent" ng-click="back()">Back</md-button>
</section>
