<section class="main md-whiteframe-z1" layout="column">
<md-toolbar>
<h2 class="md-toolbar-tools">
    <span>Please Sign In</span>
</h2>
</md-toolbar>
<form name="loginform" class="login-form" layout="column">
    <md-input-container>
        <label>Username</label>
        <input ng-model="login.user" required autofocus>
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input ng-model="login.passwd" type="password" required>
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="submit(login)" ng-disabled="loginform.$invalid">Sign In</md-button>
</form>
<div class="alert" ng-hide="alert.hidden">
    <strong>Oops!</strong> <span>{{alert.message}}</span>
</div>
</section>
